<!DOCTYPE>
<html>
<head>
    <title>Task {{task.id}}</title>
</head>
<body>
    <h1>Task {{task.id}}</h1>
    <p>Task status: {{task.status}}</p>
    <h2>Results</h2>
    <h3>RNA</h3>
    <p>
        {{data.cds|join(', ')}}
    </p>
    <p>
        {{data.cds|join('')}}
    </p>
    <h3>DNA</h3>
    <p>
        {{data.cds|join(', ')|replace('U', 'T')}}
    </p>
    <p>
        {{data.cds|join('')|replace('U', 'T')}}
    </p>
    <h3>Parameters</h3>
    <br>
    {% if data.measures is defined and data.measures %}
        {% for name, value in data.measures.items() %}
            <div>
                {{ name }}: {{ value }}
            </div>
        {% endfor %}
    {% endif %}

    <p>
        This RNA sequence was optimized using the <a href="http://rna.tbi.univie.ac.at/">ViennaRNA package</a>
    </p>
</body>
</html>